@model AirLineViewModel

<div class="form-group">
	<label asp-for="AirLineName" class="col-form-label"></label>
	<input asp-for="AirLineName" class="form-control" />
	<span asp-validation-for="AirLineName" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="Image" class="col-form-label"></label>
	<input asp-for="Image" class="form-control" />
</div>

<div class="form-group">
	<label asp-for="AirLineAddress" class="col-form-label"></label>
	<input asp-for="AirLineAddress" class="form-control" />
	<span asp-validation-for="AirLineAddress" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="AirLinePhone" class="col-form-label"></label>
	<input asp-for="AirLinePhone" class="form-control" />
	<span asp-validation-for="AirLinePhone" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="AirLineContactNumber" class="col-form-label"></label>
	<input asp-for="AirLineContactNumber" class="form-control" />
	<span asp-validation-for="AirLineContactNumber" class="text-danger"></span>
</div>