@model AirCraftViewModel

<div class="form-group">
	<label asp-for="AircraftModel" class="col-form-label"></label>
	<input asp-for="AircraftModel" class="form-control" />
	<span asp-validation-for="AircraftModel" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="NoOfSeatClassA" class="col-form-label"></label>
	<input asp-for="NoOfSeatClassA" class="form-control" />
	<span asp-validation-for="NoOfSeatClassA" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="NoOfSeatClassB" class="col-form-label"></label>
	<input asp-for="NoOfSeatClassB" class="form-control" />
	<span asp-validation-for="NoOfSeatClassB" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="NoOfSeatClassC" class="col-form-label"></label>
	<input asp-for="NoOfSeatClassC" class="form-control" />
	<span asp-validation-for="NoOfSeatClassC" class="text-danger"></span>
</div>